<a href="https://colab.research.google.com/github/felixzhao/STAT501-Assignment/blob/main/notebooks/T1_FZ_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive/Study@NZ/VUW@NZ/STATS 501/assignment"

Mounted at /content/drive
apalike3.bst	dbhboxplots.pdf     PJS_Slides_1.pdf
BIBTEX_GOF.bib	latex_template.tex  VUW-STAT501-Assignment-Data.gsheet
chisq.pdf	pisasci2006.csv     VUW_STAT501_Assignment.pdf

In [ ]:
data_path = "/content/drive/My Drive/Study@NZ/VUW@NZ/STATS 501/assignment/pisasci2006.csv"
df = pd.read_csv(data_path)
df.head()

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
0,Albania,NaN,NaN,NaN,NaN,NaN,0.599,0.886,0.716,0.724,NaN
1,Argentina,395.0,386.0,385.0,567.0,506.0,0.678,0.868,0.786,0.773,391.0
2,Australia,535.0,520.0,531.0,465.0,487.0,0.826,0.965,0.978,0.920,527.0
3,Austria,505.0,516.0,505.0,507.0,515.0,0.835,0.944,0.824,0.866,511.0
4,Azerbaijan,353.0,412.0,344.0,612.0,542.0,0.566,0.780,NaN,NaN,382.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Country   65 non-null     object
 1   Issues    57 non-null     float64
 2   Explain   57 non-null     float64
 3   Evidence  57 non-null     float64
 4   Interest  57 non-null     float64
 5   Support   57 non-null     float64
 6   Income    61 non-null     float64
 7   Health    61 non-null     float64
 8   Edu       59 non-null     float64
 9   HDI       59 non-null     float64
 10  Overall   57 non-null     float64
dtypes: float64(10), object(1)
memory usage: 5.7+ KB

In [ ]:
df.describe(include='all')

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
count,65,57.000000,57.000000,57.000000,57.000000,57.000000,61.000000,61.000000,59.000000,59.000000,57.000000
unique,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,469.912281,475.017544,469.807018,528.157895,512.175439,0.744393,0.885672,0.799322,0.806017,473.140351
std,NaN,53.926961,54.015041,61.736895,49.839668,26.084425,0.113567,0.066791,0.110525,0.085247,54.581014
min,NaN,321.000000,334.000000,288.000000,448.000000,447.000000,0.407000,0.717000,0.535000,0.579000,322.000000
25%,NaN,427.000000,432.000000,423.000000,501.000000,494.000000,0.658000,0.838000,0.718000,0.748500,428.000000
50%,NaN,489.000000,490.000000,489.000000,522.000000,512.000000,0.765000,0.893000,0.812000,0.817000,489.000000
75%,NaN,514.000000,517.000000,515.000000,565.000000,529.000000,0.833000,0.942000,0.878000,0.877000,513.000000
max,NaN,555.000000,566.000000,567.000000,644.000000,569.000000,0.941000,0.986000,0.993000,0.940000,563.000000

# Identify the top ten countries in overall sciences scores.

In [ ]:
df_sorted = df.sort_values('Overall', ascending=False)
df_sorted[:10][["Country", "Overall"]]

                     Country  Overall
16                   Finland    563.0
10                   ChinaHK    542.0
8                     Canada    534.0
56  Taiwan Province of China    532.0
26                     Japan    531.0
15                   Estonia    531.0
39               New Zealand    530.0
2                  Australia    527.0
38               Netherlands    525.0
32             Liechtenstein    522.0