<a href="https://colab.research.google.com/github/felixzhao/STAT501-Assignment/blob/main/notebooks/T2_FZ_Handle_missing_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data_path = "/content/drive/My Drive/Study@NZ/VUW@NZ/STATS 501/assignment/pisasci2006.csv"
q2_data_path = "/content/drive/My Drive/Study@NZ/VUW@NZ/STATS 501/assignment/data/q2.csv"
q3_data_path = "/content/drive/My Drive/Study@NZ/VUW@NZ/STATS 501/assignment/data/q3.csv"
q4_data_path = "/content/drive/My Drive/Study@NZ/VUW@NZ/STATS 501/assignment/data/q4.csv"

In [4]:
df = pd.read_csv(data_path)
print(len(df))
df.head()

65

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
0,Albania,NaN,NaN,NaN,NaN,NaN,0.599,0.886,0.716,0.724,NaN
1,Argentina,395.0,386.0,385.0,567.0,506.0,0.678,0.868,0.786,0.773,391.0
2,Australia,535.0,520.0,531.0,465.0,487.0,0.826,0.965,0.978,0.920,527.0
3,Austria,505.0,516.0,505.0,507.0,515.0,0.835,0.944,0.824,0.866,511.0
4,Azerbaijan,353.0,412.0,344.0,612.0,542.0,0.566,0.780,NaN,NaN,382.0

# NaN row Analysis

In [5]:
int_sup_nan_rows = df[df["Interest"].isna() & df["Support"].isna()]
print(len(int_sup_nan_rows))
int_sup_nan_rows

8

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
0,Albania,NaN,NaN,NaN,NaN,NaN,0.599,0.886,0.716,0.724,NaN
28,Kazakhstan,NaN,NaN,NaN,NaN,NaN,0.635,0.717,0.826,0.721,NaN
41,Panama,NaN,NaN,NaN,NaN,NaN,0.646,0.872,0.735,0.745,NaN
42,Peru,NaN,NaN,NaN,NaN,NaN,0.591,0.832,0.688,0.697,NaN
49,Shanghai-China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Singapore,NaN,NaN,NaN,NaN,NaN,0.876,0.951,0.720,0.843,NaN
58,Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,0.769,0.772,0.685,0.741,NaN
61,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,0.909,0.878,0.686,0.818,NaN

In [6]:
hdi_nan_rows = df[df["Income"].isna() & df["Health"].isna() & df["Edu"].isna() & df["HDI"].isna()]
print(len(hdi_nan_rows))
hdi_nan_rows

4

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
29,Korea,519.0,512.0,538.0,486.0,495.0,NaN,NaN,NaN,NaN,522.0
35,Macao-China,490.0,520.0,512.0,524.0,521.0,NaN,NaN,NaN,NaN,511.0
49,Shanghai-China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Taiwan Province of China,509.0,545.0,532.0,533.0,546.0,NaN,NaN,NaN,NaN,532.0

# Question 2

In [7]:
q2_df = df.dropna(subset=['Income', 'Support'], how='any')
print(len(q2_df))
q2_df.head()

54

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
1,Argentina,395.0,386.0,385.0,567.0,506.0,0.678,0.868,0.786,0.773,391.0
2,Australia,535.0,520.0,531.0,465.0,487.0,0.826,0.965,0.978,0.920,527.0
3,Austria,505.0,516.0,505.0,507.0,515.0,0.835,0.944,0.824,0.866,511.0
4,Azerbaijan,353.0,412.0,344.0,612.0,542.0,0.566,0.780,NaN,NaN,382.0
5,Belgium,515.0,503.0,516.0,503.0,492.0,0.831,0.935,0.868,0.877,510.0

In [8]:
q2_df.to_csv(q2_data_path, index=False)

# Q3

In [9]:
q3_df = df.dropna(subset=['Interest', 'HDI'], how='any')
print(len(q3_df))
q3_df.head()

52

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
1,Argentina,395.0,386.0,385.0,567.0,506.0,0.678,0.868,0.786,0.773,391.0
2,Australia,535.0,520.0,531.0,465.0,487.0,0.826,0.965,0.978,0.920,527.0
3,Austria,505.0,516.0,505.0,507.0,515.0,0.835,0.944,0.824,0.866,511.0
5,Belgium,515.0,503.0,516.0,503.0,492.0,0.831,0.935,0.868,0.877,510.0
6,Brazil,398.0,390.0,378.0,592.0,519.0,0.637,0.818,0.646,0.695,390.0

In [10]:
q3_df.to_csv(q3_data_path, index=False)

# Question 4

In [11]:
q4_df = df.dropna(subset=['Interest', 'Support', 'Overall'], how='any')
print(len(q4_df))
q4_df.head()

57

,Country,Issues,Explain,Evidence,Interest,Support,Income,Health,Edu,HDI,Overall
1,Argentina,395.0,386.0,385.0,567.0,506.0,0.678,0.868,0.786,0.773,391.0
2,Australia,535.0,520.0,531.0,465.0,487.0,0.826,0.965,0.978,0.920,527.0
3,Austria,505.0,516.0,505.0,507.0,515.0,0.835,0.944,0.824,0.866,511.0
4,Azerbaijan,353.0,412.0,344.0,612.0,542.0,0.566,0.780,NaN,NaN,382.0
5,Belgium,515.0,503.0,516.0,503.0,492.0,0.831,0.935,0.868,0.877,510.0

In [12]:
q4_df.to_csv(q4_data_path, index=False)